h1 {
    color: blue;
    text-align: center;
  }

  
  .editform{
    width: 50%;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: auto;
    text-align: center;

  }
  .submit{
    background-color: green;
    
    padding: 10px 20px; 
    border: 2px;
    border-radius: '10px' 
  
  }

  
