h1 {
    color: rgb(166, 174, 220);
    text-align: center;
  }

  
  .newform{
    width: 50%;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: auto;
    text-align: center;
  }
  .submit{
    background-color: green;
    
    padding: 10px 20px; 
    border: 2px;
    border-radius: '10px' 
  
  }